.mobileNav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 48px;
    background-color: var(--background);
    border-top: 1px solid var(--border);
    z-index: 10;
}

@media (min-width: 768px) {
    .mobileNav {
        display: none;
    }
}

.navItem {
    padding: 12px;
    color: var(--foreground);
}